root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cpp,hpp,h,c,cc,cxx}]
indent_size = 4

[*.{cmake,txt,yml,yaml,json,md,gradle,kts}]
indent_size = 2

[*.{kt,swift,dart,ts,tsx}]
indent_size = 2
